.deals {
  width: 100%;
  padding: 4rem 6rem;
}

.deals_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals_title {
  padding: 4rem 10rem;
}

.deals_title img {
  width: 32px;
  height: 32px;
  margin-left: 0.75rem;
}

.deals_title h1 {
  font-family: Noto Serif JP;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-h1);
  margin-bottom: 1.2rem;
}

.deals_title p {
  font-family: Google Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.deals_feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 2rem;
}

@media screen and (max-width: 1440px) {
  .deals {
    padding: 4rem;
  }

  .deals_title {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .deals {
    padding: 4rem;
  }

  .deals_title {
    padding: 2rem 4rem;
  }

  .deals_title h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .deals_title p {
    font-size: 16px;
    line-height: 26px;
  }

  .deals_feature {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .deals {
    padding: 3rem;
  }

  .deals_title {
    padding: 2rem;
  }

  .deals_title h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .deals_title p {
    font-size: 16px;
    line-height: 26px;
  }

  .deals_feature {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .deals {
    padding: 2rem;
  }

  .deals_title {
    padding: 2rem;
  }

  .deals_title h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .deals_title p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 900px) {
  .deals_content {
    display: flex;
    flex-direction: column;
  }

  .deals_title {
    padding: 1.2rem;
  }

  .deals_title h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .deals_title p {
    font-size: 15px;
    line-height: 24px;
  }

  .deals_feature {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 600px) {
  .deals_title {
    padding: 1rem;
  }

  .deals_title h1 {
    font-size: 28px;
    line-height: 28px;
  }

  .deals_title p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 400px) {
  .deals_title {
    padding: 0.5rem;
  }

  .deals_title h1 {
    font-size: 26px;
    line-height: 26px;
  }

  .deals_title p {
    font-size: 14px;
    line-height: 22px;
  }
}
